.body-grad {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,eff3f7+50 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 50%, #eff3f7 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ffffff 50%,#eff3f7 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ffffff 50%,#eff3f7 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff3f7',GradientType=1 ); /* IE6-9 */
}

img {
	width: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card-body {
	background-color: white;
	padding: 10px 15px 15px;
	width: 100%;
}
.logo {
	position: absolute;
	top: 10px;
	width: 159px;
	height: 20px;
}

.logo a {
	display: inherit;
}

.best{
	margin: 0 0 25px -30px;
}


.item {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	min-height: 300px;
	padding: 0;
	border: 1px solid #eff3f7;
	background-color: white;
	transition: all 0.2s ease;
	margin-bottom: 25px;
}

.item:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.title {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-align: left;

}

.title h1 {
	display: block;
}

.description {
	flex-flow: column wrap;
}
.item img {
	max-height: 196px;
}

.products .row {
	margin-left: 25px;
}

.padding-top {
	padding-top: 70px;
}

.card-title {
	font-size: 20px;
	font-weight: 600;
}

.margin-bottom {
	margin-bottom: 20px;
}

.input-container {
	padding-top: 10px;
	margin-bottom: 50px;
	display: flex;
	justify-content: flex-end;
	overflow-x: hidden;
}

.input-wrapper {
	/*width: 100%;*/
	position: relative;
}

/*.input-wrapper input {*/
	/*position: absolute;*/
	/*right: -250px;*/
/*}*/

/*.input-wrapper input.open {*/
	/*position: absolute;*/
	/*right: 22px;*/
	/*top: -3px;*/
/*}*/

.input-wrapper .icon-container {
	position: absolute;
	top: 5px;
	right: 0;
}

.top-section {
	margin-top: 30px;
}

.title b {
	font-weight: 900;
}

.title h1 {
	font-weight: 300;
	font-size: 72px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.products-wrap {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 35px;
	max-width: 530px;
	position: relative;
}

.arrow {
	margin-left: 20px;
	position: absolute;
	right: -50px;
	top: 48.5%;
}

.arrow-wrap {
	max-width: 30px;
}

.rating-block .fa-star {
	color: #dd8200;
	font-size: 8px;
}

.fav-block {
	display: flex;
	justify-content: space-between;
}

.like-block .fas.fa-heart {
	color: #d90000;
}

.like-block .far.fa-heart {
	color: #d90000;
}

.soc-icons {
	margin-top: 50px;
}

.soc-icons ul {
	display: flex;
	justify-content: flex-end;
}

.soc-icons ul li:first-of-type {
	margin-right: 5px;
}

.soc-icons ul li a {
	color: #333;
}

.soc-icons a {
	font-size: 0;
}

.soc-icons i {
	font-size: 12px;
}

.desc-block .text-wrap h1 {
	font-size: 100px;
	font-weight: 700;
}

.desc-block .text-wrap h3 {
	font-size: 16px;
}

.step-book ul {
	display: flex;
}

.book-wrap, .step-book li {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 25px;
	font-weight: 600;
	text-transform: uppercase;
}

.book-wrap {
	flex-direction: column;
}

.book-wrap, .step1, .step2, .step3 {
	transform: rotate(180deg);
	display: block;
}

.book-wrap {
	display: flex;
	align-items: flex-end;
}

/*.book-wrap input {*/
	/*display: none;*/
/*}*/

.step1 {
	background: url("../img/table.svg") no-repeat center;
	width: 60px;
	height: 45px;
}

.step2 {
	background: url("../img/fork.svg") no-repeat center;
	width: 25px;
	height: 45px;
}

.step3 {
	background: url("../img/mans.svg") no-repeat center;
	width: 35px;
	height: 45px;
}

[for="date"]:before {
	content: '';
	background: url("../img/date.svg") no-repeat center;
	width: 35px;
	height: 45px;
	display: block;
	transform: rotate(180deg);
}

label {
	position: relative;
	font-weight: inherit;
}

.next-step {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid;
	width: 40px;
	float: right;
	text-decoration: none;
	color: #333;
}

.next-step:hover {
	text-decoration: none;
	color: #333;
}

.step2-block .text-wrap {
	max-width: 260px;
	display: inline-block;
}

.step2-block .text-wrap h3 {
	font-size: 52px;
	font-weight: 700;
}

.menu-wrap {
	display: inline-block;
}

.c-datepicker__header-date,
.c-datepicker__clock {
	box-sizing: content-box;
}

.navbar {
	width: 45px;
	display: inline-block;
	min-height: 100vh;
	position: fixed;
	top: 0;
	background: #333;
	border-radius: 0;
	z-index: 999999;
}

#nav-button {
	position: absolute;
	top: 50%;
	transform: rotate(90deg);
	right: -6%;
}

.bar1, .bar2 {
  display: block;
  width: 50px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all .5s;
  margin: 5px 0;
}


.open .bar1 {
	transform: rotate(-45deg) translate(-7px, 0px);
}

.open .bar2 {
	transform: rotate(45deg) translate(-8px, 2px);
}

.nav-block {
	display: none;
	width: 100vw;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #333;
	z-index: 9999;
}

.nav-block .input-container .input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid red;
}